#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=LCTemp
Comment=Linux CPU sıcaklık izleme uygulaması
Exec=lctemp
Icon=lctemp
Terminal=false
Categories=System
StartupNotify=true
