#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=LCTemp
Comment=Linux CPU sıcaklık izleme uygulaması
Exec=/usr/bin/lctemp-launcher
Icon=utilities-system-monitor
Terminal=false
Categories=System;Monitor;Hardware;
StartupNotify=true
